* {
    margin: 0;
    padding: 0;
    background-color: rgba(91, 83, 83, 0.681);
}



html {
    font-size: 16px;
}


h1 {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 14px 0;
    padding: 5px 10px 5px 0;
    text-align: center;
}

.game-setup {
    background-color: rgba(91, 83, 83, 0.681);
    text-align: center;
}

#game-board {
    display: grid;
    position: relative;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    padding: 0.3125rem;
    background-color: rgb(62, 42, 42);
    background: url('/assets/gif-background.gif');
}



@media (min-width: 900px) {
    .square { 
        width: 9rem; 
    }
  }

  @media (max-width: 900px) {
    .square { 
        width: 7rem; 
    }
  }

@media (max-width: 600px) {
    .square { 
        width: 5rem; 
    }
  }


#square-1, #square-2, #square-3, #square-4, #square-5, #square-6, #square-7, #square-8, #square-9, #square-10, #square-11, #square-12, #square-13, #square-14, #square-15, #square-16 {
    
    margin: 1.25rem;
    height: 9.375rem;
    border: 1px solid #000;
    background-color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    line-height: 100px;
    cursor: pointer;
    background-position: center;
    border-radius: 0.3125rem;
}

#game-board img {
    width: 100%;
    height: 100%;
}

.square {
    background-image: url(images/card-rear.png);
}




